<div class="main-menu">
  <div class="top-section">
    <div class="channels">
      <div class="col first">
        <div class="channel-icon occupied"><img src="assets/images/StartScreenImage.png" draggable="false" alt="">
          <div class="hover" id="1" onmouseover="hover()" data-img="assets/images/StartScreenImage.png"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="2"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="3"></div>
        </div>
      </div>

      <div class="col">
        <div class="channel-icon blank">
          <div class="hover" id="4"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="5"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="6"></div>
        </div>
      </div>

      <div class="col">
        <div class="channel-icon blank">
          <div class="hover" id="7"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="8"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="9"></div>
        </div>
      </div>

      <div class="col">
        <div class="channel-icon blank">
          <div class="hover" id="10"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="11"></div>
        </div>
        <div class="channel-icon blank">
          <div class="hover" id="12"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-section">
    <div class="bottom-title"><span class="menu-time"></span></div>

    <div class="left-button-container">
      <div class="left-button"></div>
      <div class="wii-button corner-button" onmouseover="hover()"></div>
    </div>

    <div class="date"><span></span></div>

    <div class="right-button-container">
      <div class="right-button"></div>
      <div class="mail-button corner-button" onmouseover="hover()"></div>
    </div>
  </div>
</div>

<div class="splash-screen">

</div>

<div class="splash-bar">
  <div class="splash-buttons">
    <a href="javascript:void(0)" class="btn menu-btn" onmouseover="hover()">Wii Menu</a>
    <a href="javascript:void(0)" class="btn start-btn" onmouseover="hover()">Start</a>
  </div>
</div>

<div class="border-topleft border"></div>
<div class="border-topright border"></div>
<div class="border-bottomleft border"></div>
<div class="border-bottomright border"></div>
